[submodule "themes/portio"]
	path = themes/portio
	url = git@github.com:StaticMania/portio-hugo.git
[submodule "themes/bigspring"]
	path = themes/bigspring
	url = git@github.com:themefisher/bigspring-hugo-startup-theme.git
