// Color Variables
// $primary-color: #0AA8A7;
$primary-color: #219ebc;
$text-color: #777;
$text-color-dark: #222;
$body-color: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #fff;
// $light: #EDF6F5;
$light: #eaf5f3;

// Font Variables
$primary-font: 'Lato', sans-serif;
$icon-font: 'themify';